<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script>(function(){
        if (document.location.hostname === 'localhost') {
            window.isLocal = true;
            document.write('<scr'+'ipt src="/ng-jcrop.js?nocache=' + (new Date).getTime() + '"></scr'+ 'ipt>');
        } else {
            window.isLocal = false;
            document.write('<scr'+'ipt src="https://rawgit.com/andrefarzat/ng-jcrop/master/ng-jcrop.js"></scr'+ 'ipt>');
        }
    })();</script>
</head>
<body ng-app="ngJcropDemo">

<script>
    (function(){
        var app = angular.module('ngJcropDemo', ['ngJcrop']);

        app.config(function(ngJcropConfigProvider){

            ngJcropConfigProvider.setJcropConfig({
                bgColor: 'black',
                bgOpacity: .4,
                aspectRatio: 1,
                maxWidth: 300,
                maxHeight: 300
            });

            // Used to differ the upload example
            ngJcropConfigProvider.setJcropConfig('upload', {
                bgColor: 'black',
                bgOpacity: .4,
                aspectRatio: 1,
                maxWidth: 300,
                maxHeight: 300
            });

            // Used to differ the another upload example
            ngJcropConfigProvider.setJcropConfig('another-upload', {
                bgColor: 'black',
                bgOpacity: .4,
                aspectRatio: 1,
                maxWidth: 300,
                maxHeight: 300
            });

            // Used to differ the url example
            ngJcropConfigProvider.setJcropConfig('url-config', {
                bgColor: 'black',
                bgOpacity: .4,
                aspectRatio: 1,
                maxWidth: 300,
                maxHeight: 300,
                eventName: 'blur'
            });

            ngJcropConfigProvider.setJcropConfig('truesize-config', {
                bgColor: 'black',
                bgOpacity: .4,
                aspectRatio: 1,
                maxWidth: 300,
                maxHeight: 300,
                trueSize: [600, 600]
            });
        });

        function getImageSrc(src) {
            return window.isLocal ? '/demo/' + src : src;
        }

        app.controller('DemoController', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-640x480.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [100, 100, 200, 200, 100, 100];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

        app.controller('DemoController2', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-350x427.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [100, 100, 200, 200, 100, 100];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

        app.controller('DemoController3', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-200x400.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [10, 10, 110, 110, 100, 50];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

        app.controller('DemoController4', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-800x480.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [10, 10, 110, 110, 100, 50];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

        app.controller('UploadDemoController', function($scope){
            $scope.obj  = {src:"", selection: [], thumbnail: true};
            $scope.obj2 = {src:"", selection: [], thumbnail: true};
        });

        app.controller('UrlDemoController', function($scope){
            $scope.obj = {src:"", selection: [], thumbnail: true};
        });

        app.controller('TrueSizeController', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-600x600.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [10, 10, 110, 110, 100, 50];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

        app.controller('CoordsController', function($scope){
            $scope.obj = {};

            // The url or the data64 for the image
            $scope.obj.src = getImageSrc('redpanda-640x480.jpg');

            // Must be [x, y, x2, y2, w, h]
            $scope.obj.selection = [100, 100, 200, 200, 100, 100];
            $scope.obj.coords = [100, 100, 200, 200, 100, 100];

            // You can add a thumbnail if you want
            $scope.obj.thumbnail = true;
        });

    })();
</script>

<style>
    .ng-jcrop-image-wrapper { display: inline-block; }
    .ng-jcrop-thumbnail-wrapper { display: inline-block; }

    [ng-controller] { margin-bottom: 48px; }
    caption { text-align: left; }
</style>

<div class="container">
    <h1>ng-jcrop demo page</h1>

    <div class="row" ng-controller="DemoController">

        <div class="one-half column">
            <h2>640 x 480 <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" selection="obj.selection" thumbnail="obj.thumbnail" coords="obj.coords"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>

    </div>

    <div class="row" ng-controller="DemoController2">
        <div class="one-half column">
            <h2>350 x 427 <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" selection="obj.selection" thumbnail="obj.thumbnail"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

    <div class="row" ng-controller="DemoController3">
        <div class="one-half column">
            <h2>200 x 400 <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" selection="obj.selection" thumbnail="obj.thumbnail"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

    <div class="row" ng-controller="DemoController4">
        <div class="one-half column">
            <h2>800 x 480 <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" selection="obj.selection" thumbnail="obj.thumbnail"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

    <div ng-controller="UploadDemoController">
        <div class="row">
            <div class="one-half column">
                <h2>Upload an image</h2>
                <input type="file" ng-jcrop-input="upload" />
                <div ng-jcrop="obj.src" ng-jcrop-config-name="upload" selection="obj.selection" thumbnail="obj.thumbnail"></div>
            </div>

            <div class="one-half column">
                <table>
                    <tbody>
                    <tr>
                        <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                        <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                        <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                        <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                        <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                        <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                    </tr>
                    </tbody>
                </table>
                <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
            </div>
        </div>

        <div class="row" ng-controller="UploadDemoController">
            <div class="one-half column">
                <h2>Upload another image</h2>
                <input type="file" ng-jcrop-input="another-upload" />
                <div ng-jcrop="obj2.src" ng-jcrop-config-name="another-upload" selection="obj2.selection" thumbnail="obj2.thumbnail"></div>
            </div>

            <div class="one-half column">
                <table>
                    <tbody>
                    <tr>
                        <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                        <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                        <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                        <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                        <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                        <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                    </tr>
                    </tbody>
                </table>
                <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="UrlDemoController">
        <div class="one-half column">
            <h2>Add by Url</h2>
            <input type="url" ng-jcrop-input="url-config" />
            <div ng-jcrop="obj.src" ng-jcrop-config-name="url-config" selection="obj.selection" thumbnail="obj.thumbnail"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

    <div class="row" ng-controller="TrueSizeController">
        <div class="one-half column">
            <h2>TrueSize <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" ng-jcrop-config-name="truesize-config" selection="obj.selection" thumbnail="obj.thumbnail"></div>
        </div>

        <div class="one-half column">
            <table>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

    <div class="row" ng-controller="CoordsController">
        <div class="one-half column">
            <h2>Getting the "real" coords <small style="font-size: 0.6em;">(<a ng-href="{{ obj.src }}">see image</a>)</small></h2>
            <div ng-jcrop="obj.src" selection="obj.selection" thumbnail="obj.thumbnail" coords="obj.coords"></div>
        </div>

        <div class="one-half column">
            <table>
                <caption>Current Selection <small>(obj.selection)</small></caption>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.selection[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.selection[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.selection[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.selection[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.selection[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.selection[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <table>
                <caption>Current Coords <small>(obj.coords)</small></caption>
                <tbody>
                <tr>
                    <td><strong>x</strong>: <span ng-bind="obj.coords[0]"></span></td>
                    <td><strong>y</strong>: <span ng-bind="obj.coords[1]"></span></td>
                    <td><strong>x2</strong>: <span ng-bind="obj.coords[2]"></span></td>
                    <td><strong>y2</strong>: <span ng-bind="obj.coords[3]"></span></td>
                    <td><strong>w</strong>: <span ng-bind="obj.coords[4]"></span></td>
                    <td><strong>h</strong>: <span ng-bind="obj.coords[5]"></span></td>
                </tr>
                </tbody>
            </table>
            <label><input type="checkbox" ng-model="obj.thumbnail" /> Thumbnail</label>
        </div>
    </div>

</div>

</body>
</html>
